server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      httpclient:
        observation:
          enabled: true
      server:
        webflux:
          routes:
            - id: auth-service
              uri: lb://AUTH-SERVICE
              predicates:
                - Path=/api/auth/**

            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/users/**

            - id: SERVICE-REQUEST-SERVICE
              uri: lb://SERVICE-REQUEST-SERVICE
              predicates:
                - Path=/api/requests/**

            - id: MECHANIC-SERVICE
              uri: lb://MECHANIC-SERVICE
              predicates:
                - Path=/api/mechanics/**

            - id: ADMIN-SERVICE
              uri: lb://ADMIN-SERVICE
              predicates:
                - Path=/api/admin/**

            - id: FEEDBACK-SERVICE
              uri: lb://FEEDBACK-SERVICE
              predicates:
                - Path=/api/feedback/**

            - id: LOCATION-SERVICE
              uri: lb://LOCATION-SERVICE
              predicates:
                - Path=/api/location/**

            - id: PAYMENT-SERVICE
              uri: lb://PAYMENT-SERVICE
              predicates:
                - Path=/api/payments/**


          default-filters:
            PreserveHostHeader
          metrics:
            enabled: true


  security:
    user:
      name: disabled
      password: disabled

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

jwt:
  secret: zHTsXE9shK0N2kyZZ30cbXvpM8gNOwRIUN51rKIgIX97jeeF7jOQs744PI+Md9KiCRDEmwFODE7CcZxuKKiePg==

management:
  tracing:
    enabled: false
    sampling:
      probability: 1.0

  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

  endpoints:
    web:
      exposure:
        include: health,info,prometheus