
server:
  port: 8086
  forward-headers-strategy: framework

spring:
  application:
    name: FEEDBACK-SERVICE

  security:
    user:
      name: disabled
      password: disabled

  data:
    mongodb:
      uri: mongodb://localhost:27017/feedback_db

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
