server:
  port: 8087
  forward-headers-strategy: framework

spring:
  application:
    name: ADMIN-SERVICE

  security:
    user:
      name: disabled
      password: disabled

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
