
server:
  port: 8084
  forward-headers-strategy: framework

spring:
  application:
    name: MECHANIC-SERVICE

  security:
    user:
      name: disabled
      password: disabled

  datasource:
    url: jdbc:postgresql://localhost:5432/mechanic_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true