
server:
  port: 8085
  forward-headers-strategy: framework

spring:
  application:
    name: LOCATION-SERVICE

  security:
    user:
      name: disabled
      password: disabled

  datasource:
    url: jdbc:postgresql://localhost:5432/location_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
